{% extends "base.html" %}

{% block title %}DeleteSubCategory{% endblock title%}


{% block page_content %}
  ¿Realmente quieres eliminar al objeto <h3>{{ obj }}</h3>?
  <form action="" method="post">
    {% csrf_token %}
    <button type="submit" name="button" class="btn btn-circle btn-lg btn-danger">Yes</button>
    <a href="{% url 'inv:list_subcategory' %}" class="btn btn-circle btn-lg btn-warning">No</a>
  </form>

{% endblock page_content %}
